@charset "UTF-8";
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
        }
h1{
    background-color: aqua;
    color: blueviolet;
        }
h2{
    color: azure;
        }
p{
    color: white;
    text-align: justify;
        }
hr{
    color: red;
        }