@charset "UTF-8";

*{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0072b4, #ad5e03);
    
}

main{
    background-color: aqua;
    width: 60%;
    text-align: center;
    padding: 5px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 7px #0072b4;
}

h1{
    font-size: 60px;
    text-align: center;
    text-shadow:5px 5px 5px #0072b4;
    color: gray;
}

h2{
    color: palevioletred;
}

p{
    font-size: 30px;
    background-color: white;
    width: 100;
    border-radius: 7px;
}